.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5rem;
  font-size: 0.8rem;
}

.table {
  border: 1px solid #d2d2d2;
}

.table th {
  height: 3rem;
  background: #d2d2d2;
}
.table td {
  text-align: center;
  height: 2rem;
}

.table tr:nth-child(2n) {
  background: #d2d2d2;
}

.filter {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  align-content: center;
  margin: 0.5rem 0;
}

.filter select {
  height: 3rem;
  padding: 0 2rem;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.deleteBtn {
  height: 2rem;
  margin: 0.5rem;
  background: #ff8484;
  color: #640a0a;
  border: none;
  border-radius: 5px;
}

.deleteBtn:hover {
  cursor: pointer;
}
